matplotlib==3.*
folium==0.*
mocodo==2.*
networkx==2.*
Pillow>=6.2.*
numpy==1.*
scipy==1.*
scikit-learn==0.*
tensorflow==2.*
plotly==4.*
seaborn==0.*
Flask==1.*
dash==1.*
simpy==3.*
opencv-python==4.*
pygame==1.*
pyserial==3.*
pandas==0.*
